<form
  [formGroup]="form"
  (ngSubmit)="createCategory()"
  class="flex flex-col gap-4"
>
  <app-input
    type="text"
    label="Nombre de la categoría"
    placeholder="Facturas"
    formControlName="name"
  ></app-input>
  <app-error-form-message
    [control]="form.controls['name']"
  ></app-error-form-message>

  <app-select
    label="Propósito"
    formControlName="rule"
    [options]="rulesSelect"
  ></app-select>
  <app-error-form-message
    [control]="form.controls['rule']"
  ></app-error-form-message>

  <app-button [disabled]="form.invalid" label="Crear"></app-button>
</form>
