<form (ngSubmit)="onSubmit()" [formGroup]="form" class="px-4" action="">
  <app-category-selector [form]="form"></app-category-selector>
  <app-category-value-selector [form]="form"></app-category-value-selector>

  <div class="expand-grid" [class.expanded]="categoryValueId()">
    <div class="inner-content">
      <app-amount-input [form]="form"></app-amount-input>
    </div>
  </div>
  <section id="submit-form" class="mt-12 w-full flex justify-end">
    <app-button
      [disabled]="form.invalid"
      [loading]="isLoadingCreatingAssignment()"
      label="Agregar categoría"
    ></app-button>
  </section>
</form>
