@if(isLoading()) { Cargando ... }

<!--  -->

@if(budget.hasValue()) {
<section class="flex flex-col gap-10">
  <app-hero [budget]="budget.value()"></app-hero>

  <div id="budget-actions">
    <app-button
      label="Agregar categoría"
      (onClick)="toggleModal()"
    ></app-button>
  </div>

  <app-categories-list></app-categories-list>
</section>

<app-modal
  title="Agregar categoría"
  [isOpen]="isModalOpen()"
  (onClose)="toggleModal()"
>
  @if (isModalOpen()) {
  <app-add-category (closeModal)="toggleModal()"></app-add-category>
  }
</app-modal>
}
