<app-header title="Categorías"></app-header>
<app-tabs [items]="tabs()" [(activeTabId)]="activeTabId"></app-tabs>
<div class="my-4 flex justify-end gap-4">
  <app-button
    label="Crear categoría"
    (onClick)="toggleModal('category')"
  ></app-button>
  <app-button
    label="Crear valor de categoría"
    (onClick)="toggleModal('category-value')"
  ></app-button>
</div>
@if(categoryValuesResource.error()) {
<p>Error al cargar los valores de la categoría</p>
}

<!--  -->

@if(categoryValuesResource.isLoading()) {
<p>Cargando valores de la categoría...</p>
}

<!--  -->

@if(categoryValuesResource.hasValue()) {
<app-generic-table
  [data]="categoryValuesResource.value().data"
  [columns]="columns"
  [isLoading]="categoryValuesResource.isLoading()"
></app-generic-table>
}

<app-modal
  [isOpen]="isModalOpen()"
  [title]="modalTitle"
  (onClose)="toggleModal(undefined)"
>
  @if(modalType() === 'category') {
  <app-create-category
    (refreshCategories)="categoryResource.reload()"
    (closeModal)="toggleModal(undefined)"
  ></app-create-category>
  } @if(modalType() === 'category-value') {
  <!-- <app-create-category-value></app-create-category-value> -->
  lolazo }
</app-modal>
