<div class="flex justify-between items-center my-5 px-5">
  <app-title level="h2">💰 P R E S U P U E S T O S</app-title>
  <app-button
    label="Crear presupuesto"
    (onClick)="toggleModal('create')"
  ></app-button>
</div>
<app-generic-table
  [data]="budgetsData()"
  [pagination]="pagination()"
  [columns]="columns"
  [isLoading]="budgetsResource.isLoading()"
  [error]="budgetsResource.error()"
  (rowClick)="openDetail($event.id)"
  (pageChange)="onPageChange($event)"
/>

<app-modal
  [title]="this.modalTitle"
  [isOpen]="isModalOpen()"
  (onClose)="toggleModal()"
>
  @if (isModalOpen()) {
    @if (action() === "create") {
      <app-create-or-update-budget
        [canCreate]="true"
        (closeModal)="toggleModal()"
        (refresh)="budgetsResource.reload()"
      ></app-create-or-update-budget>
    }
    @if (action() === "update") {
      <app-create-or-update-budget
        [canCreate]="false"
        [budget]="budget()"
        (closeModal)="toggleModal()"
        (refresh)="budgetsResource.reload()"
      ></app-create-or-update-budget>
    }
    @if (action() === "delete") {
      <div>
        <p>
          ¿Estás seguro de eliminar el presupuesto
          <strong>{{ budget()?.title }}</strong
          >?
        </p>
        <div class="pt-4 flex justify-end gap-4">
          <app-button label="Cancelar" (onClick)="toggleModal()"></app-button>
          <app-button
            label="Eliminar"
            variant="danger"
            (onClick)="delete(budget()?.id!)"
          ></app-button>
        </div>
      </div>
    }
  }
</app-modal>
