<div class="flex justify-between items-center my-5 px-5">
  <h2 class="text-lg font-bold">💰 P R E S U P U E S T O S</h2>
  <app-button label="Crear presupuesto" (onClick)="toggleModal()"></app-button>
</div>
@if (budgetsResource.error()) {
  <p>Error al cargar los presupuestos</p>
}
<app-generic-table
  [data]="budgetsData()"
  [pagination]="pagination()"
  [columns]="columns"
  [isLoading]="budgetsResource.isLoading()"
  (rowClick)="openDetail($event.id)"
  (pageChange)="onPageChange($event)"
/>

<app-modal
  title="Crear presupuesto"
  [isOpen]="isModalOpen()"
  (onClose)="toggleModal()"
>
  @if (isModalOpen()) {
    <app-create-budget
      (closeModal)="toggleModal()"
      (refresh)="budgetsResource.reload()"
    ></app-create-budget>
  }
</app-modal>
