<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2">
    <!-- Home Item -->
    <li class="inline-flex items-center">
      <a
        routerLink="/dashboard"
        class="inline-flex items-center text-xs font-semibold text-content-muted hover:text-primary-500 transition-colors duration-200"
      >
        <lucide-icon [img]="homeIcon" [size]="14" class="mr-2"></lucide-icon>
        Home
      </a>
    </li>

    @for (item of items(); track item.label; let last = $last) {
      <li>
        <div class="flex items-center">
          <lucide-icon
            [img]="separatorIcon"
            [size]="14"
            class="text-border mx-1"
          ></lucide-icon>

          @if (item.url && !last) {
            <a
              [routerLink]="item.url"
              class="ml-1 text-xs font-semibold text-content-muted hover:text-primary-500 transition-colors duration-200 md:ml-2"
            >
              @if (item.icon) {
                <lucide-icon
                  [img]="item.icon"
                  [size]="14"
                  class="mr-1"
                ></lucide-icon>
              }
              {{ item.label }}
            </a>
          } @else {
            <span
              class="ml-1 text-xs font-bold text-content-secondary md:ml-2 truncate max-w-[150px] md:max-w-xs"
            >
              @if (item.icon) {
                <lucide-icon
                  [img]="item.icon"
                  [size]="14"
                  class="mr-1"
                ></lucide-icon>
              }
              {{ item.label }}
            </span>
          }
        </div>
      </li>
    }
  </ol>
</nav>
