<div
  class="flex flex-col items-center justify-center text-center px-6 py-12 bg-surface-raised/70 backdrop-blur-sm rounded-3xl border border-border-subtle shadow-sm transition-all duration-300 w-full h-full flex-1 min-h-[300px] animate-[fadeIn_0.5s_ease-out]"
>
  <div
    class="flex items-center justify-center w-16 h-16 mb-6 bg-surface-subtle rounded-2xl text-content-secondary shadow-inner"
  >
    <lucide-icon size="40" [img]="icon()"></lucide-icon>
  </div>
  <h3 class="text-xl font-bold text-content-primary mb-2 -tracking-wide">
    {{ title() }}
  </h3>
  <p class="text-sm leading-relaxed text-content-secondary">
    {{ description() }}
  </p>
  <ng-content></ng-content>
</div>
