<div class="flex w-full flex-col gap-1.5">
  <div class="flex items-center justify-between">
    <ng-content select="[label]"></ng-content>
    @if (showLabel()) {
    <span class="text-xs font-semibold text-content-secondary">
      {{ percentageLabel() }}
    </span>
    }
  </div>
  <div
    class="h-2.5 w-full overflow-hidden rounded-full bg-surface-subtle shadow-inner"
  >
    <div
      class="h-full rounded-full transition-all duration-700 ease-out"
      [class]="color()"
      [style.width.%]="percentage()"
    ></div>
  </div>
</div>
