<form
  [formGroup]="form"
  (ngSubmit)="createBudgetCategoryValue()"
  class="flex flex-col gap-4"
>
  <app-input
    type="text"
    label="Nombre del valor de la categoría"
    placeholder="Netflix"
    formControlName="name"
  ></app-input>
  <app-error-form-message
    [control]="form.controls['name']"
  ></app-error-form-message>
  <app-select
    label="Categoría a la que pertenece el valor"
    placeholder="Seleccione una categoría"
    [options]="categoriesForSelect()"
    formControlName="budgetCategoryId"
  ></app-select>
  <app-error-form-message
    [control]="form.controls['budgetCategoryId']"
  ></app-error-form-message>
  <app-button [disabled]="form.invalid" label="Crear"></app-button>
</form>
